.productpage {
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto;
    background-color: #ffffff;
    .single_product {
        height: inherit;
        width: 90%;
        margin: auto;
        
        .product {
            margin-top: 90px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: inherit;
            
            figure {
                width: 75%;
                margin-left: 1rem;
                position: relative;
                max-height: 65vh;
                .watermark {
                    font-size: 2.5rem;
                    position: absolute;
                    transform: rotateZ(-90deg);
                    transform-origin: 50% 50%;
                    text-transform: uppercase;
                    width: max-content;
                    position: absolute;
                    right: 40%;
                    font-weight: 300;
                    top: 7rem;
                    opacity: 0.3;
                    letter-spacing: 0.1em;
                }
                img {
                    width: 100%;
                    height: 100%;
                    
                }
            }
            
            @media (max-width : 768px) {
                grid-template-columns: none;
                
                figure {

                    width: 75%;
                    max-height: 70vh;
                    
                    img {
                        object-fit: cover;
                        object-position: 0px -30px;
                    }
                }
            }
            // product description
            .product_details {
                h1 {
                    font-size: 4rem;
                    position: relative;
                    @extend %horizontal-line
                }

                hr {
                    opacity: 0.3;
                }
                .product_price {
                    font-size: 1.5rem;
                    margin: 0.7rem 0;
                    color: $color-red;
                }

                .product_rating {
                    width: 100px;
                    margin: 0.3rem 0;
                }

                .product_description {
                    color: $dark-gray;
                    position: relative;
                    margin: 1rem 0;
                    line-height: 1.5rem;
                    @extend %description-icon;
                    
                }

                .product_sizes {
                    display: flex;
                    gap: 1rem;
                    position: relative;
                    margin-bottom: 1rem;
                    @extend %size-icon;

                    .product_size {
                        border: 1px solid $color-green;
                        width: 40px;
                        height: 30px;
                        @extend %center;
                        cursor: pointer;
                        opacity: 0.3;
                        transition: opacity 0.3s ease;

                        &.selected {
                            opacity: 1;
                        }
                    }
                }
                
                .product_quantity {
                    position: relative;
                    @extend %qty-icon;
                    margin: 1rem 0;

                    h5 {
                        font-size: 24px;
                        letter-spacing: 0.1em;
                        margin-bottom: 0.5rem;
                    }
                    
                    .product_quantity_selector {
                        margin-top: 1rem;
                        width: 100px;
                        height: 30px;
                        border: 1px solid $color-green;
                        padding: 0.2rem 0.5rem;
                        @extend %center;
                        justify-content: space-between;

                        button {
                            background-color: transparent;
                            font-size: 1.3rem;
                            padding: 0 0.5rem;
                            cursor: pointer;
                        }
                    }
                }

            }    

        }

        @media (max-width : 768px) {
            
            .product {
                
                .product_details {
                    padding: 2rem 1rem 100px 50px;
                    width: calc(100% - 50px);
                    margin-left: auto;
                    
                    h1 {
                        font-size: 2.5rem;
                    }

                    .product_description {
                        font-size: 12px;
                    }
                    
                    .product_quantity {
                        h5 {
                            font-size: 20px;
                        }
                    }
                    
                }
            }
        }
    }


}