%background-image {
    // background-position: top;
    background-repeat: no-repeat;
    width: 100%;

    @media (max-width : 768px) {
        background-position: top center;
    }
}

%figure-labels {
    align-self: flex-end;
    transform: rotate(-90deg);
    text-transform: uppercase;
}


%center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}