@import "./base/reset";
@import "./utils/mixins";
@import "./utils/variables";

@import "./shared/button";
@import "./components/navbar";
@import "./components/loading";
// pages
@import "./pages/home/index";
@import "./pages/allcollections/index";


body {
    max-width: 1450px;
    margin: auto;
    overflow-y: hidden !important;
}
