// base/foundations
@import "./base/reset";
@import "./utils/variables";
@import "./utils/mixins";


// Components
@import "./shared/button";
@import "./components/navbar";
@import "./components/loading";

// pages
@import "./pages/home/index";
@import "./pages/allcollections/index";
@import "./pages/single_product/index";


body {
    background: $background-color;

}

.main_wrapper {
    max-width: 1550px;
    margin: auto;
    position: relative;
}
